@model MayLocKhongKhi

@if(Model.MaMLKK > 0) {
    <li class="product_detail_info_item"><b>Loại bụi lọc được:</b> @Model.LoaiBuiLocDuocMLKK</li>
    <li class="product_detail_info_item"><b>Phạm vi lọc:</b> @Model.PhamViLocMLKK</li>
    <li class="product_detail_info_item"><b>Lưu lượng gió:</b> @Model.LuongGioMLKK</li>
    <li class="product_detail_info_item"><b>Màng lọc:</b> @Model.MangLocMLKK</li>
    <li class="product_detail_info_item"><b>Bảng điều khiển:</b> @Model.BangDieuKhienMLKK</li>
    <li class="product_detail_info_item"><b>Độ ồn:</b> @Model.DoOnMLKK</li>
    <li class="product_detail_info_item"><b>Cảm biến:</b> @Model.CamBienMLKK</li>
}