@model MayLanh

@if(Model.MaML > 0) {
    <li class="product_detail_info_item"><b>Công suất làm lạnh:</b> @Model.CongSuatLamLanhML</li>
    <li class="product_detail_info_item"><b>Phạm vi làm lạnh:</b> @Model.PhamViLamLanhML</li>
    <li class="product_detail_info_item"><b>Độ ồn:</b> @Model.DoOnML</li>
    <li class="product_detail_info_item"><b>Loại gas sử dụng:</b> @Model.LoaiGasML</li>
    <li class="product_detail_info_item"><b>Chế độ gió:</b> @Model.CheDoGioML</li>
}
