@model MayLocNuoc

@if(Model.MaMLN > 0) {
    <li class="product_detail_info_item"><b>Kiểu lắp đặt:</b> @Model.KieuLapMLN</li>
    <li class="product_detail_info_item"><b>Công suất lọc:</b> @Model.CongSuatLocMLN</li>
    <li class="product_detail_info_item"><b>Tỉ lệ lọc thải:</b> @Model.TiLeLocThaiMLN</li>
    <li class="product_detail_info_item"><b>Chỉ số nước:</b> @Model.ChiSoNuocMLN</li>
    <li class="product_detail_info_item"><b>Độ pH thực tế:</b> @Model.DoPHThucTeMLN</li>
    <li class="product_detail_info_item"><b>Áp lực nước yêu cầu:</b> @Model.ApLucNuocYeuCauMLN</li>
    <li class="product_detail_info_item"><b>Số lõi lọc:</b> @Model.SoLoiLocMLN</li>
    <li class="product_detail_info_item"><b>Bảng điều khiển:</b> @Model.BangDieuKhienMLN</li>
}