@model NoiChien

@if(Model.MaNC > 0) {
    <li class="product_detail_info_item"><b>Dung tích tổng:</b> @Model.DungTichTongNC</li>
    <li class="product_detail_info_item"><b>Dung tích sử dụng:</b> @Model.DungTichSuDungNC</li>
    <li class="product_detail_info_item"><b>Nhiệt độ:</b> @Model.NhietDoNC</li>
    <li class="product_detail_info_item"><b>Hẹn giờ:</b> @Model.HenGioNC</li>
    <li class="product_detail_info_item"><b>Bảng điều khiển:</b> @Model.BangDieuKhienNC</li>
    <li class="product_detail_info_item"><b>Chiều dài dây điện:</b> @Model.ChieuDaiDayDienNC</li>
}