@model NoiComDien

@if(Model.MaNCD > 0) {
    <li class="product_detail_info_item"><b>Dung tích:</b> @Model.DungTichNCD</li>
    <li class="product_detail_info_item"><b>Chức năng:</b> @Model.ChucNangNCD</li>
    <li class="product_detail_info_item"><b>Độ dày:</b> @Model.DoDayNCD</li>
    <li class="product_detail_info_item"><b>Điều khiển:</b> @Model.DieuKhienNCD</li>
    <li class="product_detail_info_item"><b>Chiều dài dây điện:</b> @Model.ChieuDaiDayDienNCD</li>
}