@model TiVi

@if(Model.MaTV > 0) {
    <li class="product_detail_info_item"><b>Cỡ màn hình:</b> @Model.CoManHinhTV</li>
    <li class="product_detail_info_item"><b>Độ phân giải:</b> @Model.DoPhanGiaiTV</li>
    <li class="product_detail_info_item"><b>Loại màn hình:</b> @Model.LoaiManHinhTV</li>
    <li class="product_detail_info_item"><b>Tần số quét:</b> @Model.TanSoQuetTV</li>
    <li class="product_detail_info_item"><b>Điều khiển:</b> @Model.DieuKhienTV</li>
    <li class="product_detail_info_item"><b>Cổng kết nối:</b> @Model.CongKetNoiTV</li>
}