@using System.Globalization
@model List<DonHang>
@{
    ViewData["HideSidebar"] = false;
    ViewData["SidebarName"] = "_SidebarAdmin";
    ViewData["SidebarType"] = "PartialView";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}

@if (Model.Count > 0)
{
    <div class="admin-order-wrapper">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ngày tạo</th>
                    <th>Khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Phí giao hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái đơn hàng</th>
                    <th>Trạng thái thanh toán</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var order in Model)
            { 
                <tr>
                    <td>VE@(order.MaDH)</td>
                    <td>@(order.NgayTaoDH.ToString("HH:mm - dd/MM/yyyy"))</td>
                    <td style="text-align: left; max-width: 200px">
                        <p>@(order.TenKH)</p>
                        <p>@(order.SoDienThoaiKH)</p> 
                        <p>@order.TenDCCT, @order.TenXP, @order.TenTTP</p>
                    </td>
                    <td style="text-align: left; max-width: 300px">
                        <ul>
                            @foreach(var product in order.ListSanPhamDatHang){
                                <li class="inline">
                                    <img src="@(string.IsNullOrWhiteSpace(product.UrlAnh) ? "/images/no_img.png" : product.UrlAnh)" alt="Ảnh sản phẩm">
                                    <div>
                                        <p>@product.TenSP</p>
                                        <p>(@product.SoLuongDat sản phẩm: @product.ThanhTien?.ToString("N0", new CultureInfo("vi-VN")))</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <p>@order.PhiVanChuyenDH.ToString("N0", new CultureInfo("vi-VN"))</p>
                    </td>
                    <td>
                        <p>@order.TongTienDH.ToString("N0", new CultureInfo("vi-VN"))</p>
                    </td>
                    <td style="text-align: left;">
                        @if (ViewBag.TrangThaiDonHang != null)
                        {
                            var listTTDH = ViewBag.TrangThaiDonHang as List<TrangThaiDonHang>;

                            <form method="post" asp-action="UpdateTrangThaiDonHang" id="ttdh-form">
                                <ul>
                                    @foreach (var ttdh in listTTDH!)
                                    {
                                        var id = $"ttdh_{ttdh.MaTTDH}";
                                        <li>
                                            <label for="@id">
                                                <input type="radio"
                                                    id="@id"
                                                    name="MaTTDH@(order.MaDH)"
                                                    value="@ttdh.MaTTDH"
                                                    data-current="@order.MaTTDH"
                                                    @(order.MaTTDH == ttdh.MaTTDH ? "checked" : "") />
                                                @ttdh.TenTTDH
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </form>
                        }
                        <p>(@order.NgayCapNhatDH.ToString("HH:mm - dd/MM/yyyy"))</p>
                    </td>
                    <td style="text-align: left;">
                        @if (ViewBag.TrangThaiThanhToan != null)
                        {
                            var listTTTT = ViewBag.TrangThaiThanhToan as List<TrangThaiThanhToan>;

                            <form method="post" asp-action="UpdateTrangThaiThanhToan" id="tttt-form">
                                <input type="hidden" name="MaGiaoDichTT" id="MaGiaoDichTT">
                                <ul>
                                    @foreach (var tttt in listTTTT!)
                                    {
                                        var id = $"tttt_{tttt.MaTTTT}";
                                        <li>
                                            <label for="@id">
                                                <input type="radio"
                                                    id="@id"
                                                    name="MaTTTT@(order.MaDH)"
                                                    value="@tttt.MaTTTT"
                                                    data-current="@order.MaTTTT"
                                                    @(order.MaTTTT == tttt.MaTTTT ? "checked" : "") />
                                                @tttt.TenTTTT
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </form>
                        }
                        <p>(@order.NgayCapNhatTT.ToString("HH:mm - dd/MM/yyyy"))</p>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else
{
    <p>Danh sách đơn hàng hiện đang trống</p>
}

@section Scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
}
