@model QL_DienTuGiaDung.Models.TaiKhoanKhachHang;
@{
    ViewData["HideSidebar"] = false;
    ViewData["SidebarName"] = "_SidebarPersonal";
    ViewData["SidebarType"] = "PartialView";
    var message = TempData["Message"] as string;
    var error = TempData["Error"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
}

<div class="personal-wrapper">
    <div class="personal-card">
        <h3 class="personal-card-heading">Thông tin cá nhân</h3>
        <form method="post" asp-action="HandleUpdateProfile">
            <div class="account-form-group">
                <label asp-for="SoDienThoaiKH">Số điện thoại:</label>
                <input class="input" type="tel" asp-for="SoDienThoaiKH" readonly placeholder="Số điện thoại" style="background-color: #fafafa;">
            </div>
            <div class="account-form-group">
                <label asp-for="TenKH">Họ tên:</label>
                <input class="input input-disabled" type="text" asp-for="TenKH" disabled required placeholder="Nhập họ và tên">
            </div>
            <div class="account-form-group">
                <label asp-for="EmailKH">Email:</label>
                <input class="input input-disabled" type="email" asp-for="EmailKH" disabled placeholder="Nhập email (không bắt buộc)">
            </div>
            <div class="account-form-group inline">
                <label asp-for="GioiTinhKH">Giới tính:</label>
                <div class="account-form-gender">
                    <label>
                        <input type="radio" class="input-disabled" asp-for="GioiTinhKH" disabled required value="1"> Nam
                    </label>
                    <label>
                        <input type="radio" class="input-disabled" asp-for="GioiTinhKH" disabled value="-1"> Nữ
                    </label>
                    <label>
                        <input type="radio" class="input-disabled" asp-for="GioiTinhKH" disabled value="0"> Khác
                    </label>
                </div>
            </div>
            <div class="align-right">
                <div class="button button-cancel" id="button-cancel-edit-profile">Hủy</div>
                <button class="button" id="button-save-profile" type="submit">Lưu</button>
            </div>
        </form>
        <div class="align-right">
            <button class="button" id="button-edit-profile">Sửa</button>
        </div>
    </div>
    <div class="personal-card">
        <h3 class="personal-card-heading">Địa chỉ nhận hàng</h3>
        <ul class="personal-card-list">
            @if (Model.ListDiaChiDayDu?.Count > 0) {
                @foreach(var diachi in Model.ListDiaChiDayDu) {
                    <li class="personal-card-list-item">
                        <p>@diachi.TenDCCT, @diachi.TenXP, @diachi.TenTTP <span class="address-default">@(@diachi.MacDinhDCCT == 1 ? "(Mặc định)" : "") </span></p>
                        <div class="personal-card-list-item-tool">
                            @if (diachi.MacDinhDCCT != 1) {
                                <div class="edit btn-edit-address"
                                    data-madcct="@diachi.MaDCCT"
                                    data-tendcct="@diachi.TenDCCT"
                                    data-macdinhdcct="@diachi.MacDinhDCCT"
                                    data-mattp="@diachi.MaTTP"
                                    data-tenttp="@diachi.TenTTP"
                                    data-maxp="@diachi.MaXP"
                                    data-duocsuaxoa="@diachi.DuocSuaXoa"
                                    data-tenxp="@diachi.TenXP">
                                    <span class="material-symbols-outlined">edit</span>
                                    Sửa
                                </div>
                            }
                            @if (diachi.MacDinhDCCT != 1 && diachi.DuocSuaXoa == 1) {
                                <form asp-action="HandleDeleteAddress" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa địa chỉ này?');">
                                    <input type="hidden" name="MaDCCT" value="@diachi.MaDCCT" />
                                    <button type="submit" class="button-no-style delete">
                                        <span class="material-symbols-outlined">delete</span>
                                        Xóa
                                    </button>
                                </form>
                            }
                        </div>
                    </li>
                }
            } else {
                <p>Hiện không có địa chỉ nhận hàng</p>
            }
        </ul>
        <button class="button" id="button-add-address">
            <span class="material-symbols-outlined">add</span>
            Thêm địa chỉ nhận hàng
        </button>
        <div  id="form-add-address">
            <h3 class="personal-card-heading">Thêm địa chỉ nhận hàng</h3>
            <form method="post" asp-action="HandleAddUpdateAddress">
                <input type="hidden" id="MaDCCT" name="MaDCCT" />
                <div class="account-form-group">
                    <label for="provinceSelect">Tỉnh/Thành Phố</label>
                    <select class="select" id="provinceSelect" name="provinceSelect" required>
                        <option value="">-- Chọn Tỉnh/Thành phố --</option>
                    </select>
                </div>
                <div class="account-form-group">
                    <label for="communeSelect">Xã/Phường</label>
                    <select class="select" id="communeSelect" name="communeSelect" required>
                        <option value="">-- Chọn Xã/Phường --</option>
                    </select>
                </div>
                <div class="account-form-group">
                    <label asp-for="DiaChiCuThe.TenDCCT">Số nhà, tên đường, ấp/khóm</label>
                    <input class="input" type="text" asp-for="DiaChiCuThe.TenDCCT" id="TenDCCT" required placeholder="Nhập số nhà, tên đường, ấp/khóm">
                </div>
                @if (Model.ListDiaChiDayDu?.Count > 0) {
                    <div class="account-form-group inline" id="check-macdinhdcct">
                        <input style="margin-right: 6px;" type="checkbox" name="DiaChiCuThe.MacDinhDCCT" id="DiaChiCuThe.MacDinhDCCT" value="1">
                        <label for="DiaChiCuThe.MacDinhDCCT">Đặt làm địa chỉ mặc định</label>
                    </div>
                } else {
                    <input type="hidden" name="DiaChiCuThe.MacDinhDCCT" id="DiaChiCuThe.MacDinhDCCT" checked value="1">
                    <div class="account-form-group">
                        <p class="address-default">Mặc định</p>
                    </div>
                }
                <div class="account-form-group" id="address-default-in-form" style="display: none;">
                    <p class="address-default">Mặc định</p>
                </div>
                <div class="align-right">
                    <div class="button button-cancel" id="button-cancel-add-address">Hủy</div>
                    <button class="button">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/account.js" asp-append-version="true"></script>
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}

@if (!string.IsNullOrEmpty(error))
{
    <script>
        alert('@Html.Raw(error)');
    </script>
}