@model MayLocNuoc

<li class="product-detail-info-list-item"><b>Kiểu lắp đặt:</b> @Model.KieuLapMLN</li>
<li class="product-detail-info-list-item"><b>Công suất lọc:</b> @Model.CongSuatLocMLN</li>
<li class="product-detail-info-list-item"><b>Tỉ lệ lọc thải:</b> @Model.TiLeLocThaiMLN</li>
<li class="product-detail-info-list-item"><b>Chỉ số nước:</b> @Model.ChiSoNuocMLN</li>
<li class="product-detail-info-list-item"><b>Độ pH thực tế:</b> @Model.DoPHThucTeMLN</li>
<li class="product-detail-info-list-item"><b>Áp lực nước yêu cầu:</b> @Model.ApLucNuocYeuCauMLN</li>
<li class="product-detail-info-list-item"><b>Số lõi lọc:</b> @Model.SoLoiLocMLN</li>
<li class="product-detail-info-list-item"><b>Bảng điều khiển:</b> @Model.BangDieuKhienMLN</li>
