@model MayRuaChen

<li class="product-detail-info-list-item"><b>Lượng nước tiêu thụ:</b> @Model.NuocTieuThuMRC</li>
<li class="product-detail-info-list-item"><b>Số chén rửa được:</b> @Model.SoChenRuaDuocMRC</li>
<li class="product-detail-info-list-item"><b>Độ ồn:</b> @Model.DoOnMRC</li>
<li class="product-detail-info-list-item"><b>Bảng điều khiển:</b> @Model.BangDieuKhienMRC</li>
<li class="product-detail-info-list-item"><b>Chiều dài ống cấp nước:</b> @Model.ChieuDaiOngCapNuocMRC</li>
<li class="product-detail-info-list-item"><b>Chiều dài ống thoát nước:</b> @Model.ChieuDaiOngThoatNuocMRC</li>
