@model NoiComDien

<li class="product-detail-info-list-item"><b>Dung tích:</b> @Model.DungTichNCD</li>
<li class="product-detail-info-list-item"><b>Chức năng:</b> @Model.ChucNangNCD</li>
<li class="product-detail-info-list-item"><b>Độ dày:</b> @Model.DoDayNCD</li>
<li class="product-detail-info-list-item"><b>Điều khiển:</b> @Model.DieuKhienNCD</li>
<li class="product-detail-info-list-item"><b>Chiều dài dây điện:</b> @Model.ChieuDaiDayDienNCD</li>
