@model TiVi

<li class="product-detail-info-list-item"><b>Cỡ màn hình:</b> @Model.CoManHinhTV</li>
<li class="product-detail-info-list-item"><b>Độ phân giải:</b> @Model.DoPhanGiaiTV</li>
<li class="product-detail-info-list-item"><b>Loại màn hình:</b> @Model.LoaiManHinhTV</li>
<li class="product-detail-info-list-item"><b>Tần số quét:</b> @Model.TanSoQuetTV</li>
<li class="product-detail-info-list-item"><b>Điều khiển:</b> @Model.DieuKhienTV</li>
<li class="product-detail-info-list-item"><b>Cổng kết nối:</b> @Model.CongKetNoiTV</li>
