@model MayLanh;

<li class="product-detail-info-list-item"><b>Công suất làm lạnh:</b> @Model.CongSuatLamLanhML</li>
<li class="product-detail-info-list-item"><b>Phạm vi làm lạnh:</b> @Model.PhamViLamLanhML</li>
<li class="product-detail-info-list-item"><b>Độ ồn:</b> @Model.DoOnML</li>
<li class="product-detail-info-list-item"><b>Loại gas sử dụng:</b> @Model.LoaiGasML</li>
<li class="product-detail-info-list-item"><b>Chế độ gió:</b> @Model.CheDoGioML</li>