@using System.Globalization
@using System.Security.Claims
@model GioHang
@{
    ViewData["HideSidebar"] = true;
    var error = TempData["Error"] as string;
    var user = (ClaimsPrincipal)User;
    var message = TempData["Message"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true"/>
}

<div class="cart-wrapper">
    @if (Model.ListSanPhamTrongGio == null || !Model.ListSanPhamTrongGio.Any())
    {
        <div class="cart-item">
            <div class="cart-item-empty">
                <img src="/images/empty_cart.png" alt="">
                <p>Giỏ hàng của bạn hiện đang trống</p>
                <a class="button" asp-controller="Product" asp-action="Index">
                    Tiếp tục mua sắm
                </a>
            </div>
        </div>
        }
        else
        {
            foreach(var product in Model.ListSanPhamTrongGio) {
                <div class="cart-item">
                    <div class="cart-item-row">
                        <div class="cart-item-row-left">
                            <img src="@(string.IsNullOrWhiteSpace(product.UrlAnh) ? "/uploads/images/products/may-lanh-daikin-inverter-1.5hp1.jpg" : product.UrlAnh)" alt="Ảnh sản phẩm">
                            <h3>@product.TenSP</h3>
                        </div>
                        <div class="cart-item-row-price">@product.GiaBanSP?.ToString("N0", new CultureInfo("vi-VN"))</div>
                    </div>
                    <div class="cart-item-row align-right">
                        <form asp-controller="Cart" asp-action="HandleRemoveItem" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?')">
                            <input type="hidden" name="maSP" value="@product.MaSP" />
                            <button type="submit" class="button-no-style delete">
                                <span class="material-symbols-outlined">delete</span>
                                Xóa
                            </button>
                        </form>
                        <form asp-controller="Cart" asp-action="HandleUpdateQuantity" method="post" class="form-quantity">
                            <button type="button" class="button-no-style left button-subtract-quantity">
                                <span class="material-symbols-outlined">remove</span>
                            </button>
                            <input type="hidden" name="maSP" value="@product.MaSP" />
                            <input type="text" value="@product.SoLuongSP" name="soLuongSP" class="input-no-style input-quantity" inputmode="numeric" pattern="[0-9]*">
                            <button type="button" class="button-no-style right button-add-quantity">
                                <span class="material-symbols-outlined">add</span>
                            </button>
                        </form>
                    </div>
                    <div class="cart-item-row align-right item-price">
                        <p>Thành tiền (@product.SoLuongSP sản phẩm):</p>
                        <p>@product.ThanhTien?.ToString("N0", new CultureInfo("vi-VN"))</p>
                    </div>
                </div>
            }

            <div class="cart-item">
                <h3>Thông tin sản phẩm nhận</h3>
                @foreach(var product in Model.ListSanPhamTrongGio) {
                    <div class="cart-item-row border-bottom">
                        <div class="cart-item-row-left">
                            <img src="@(string.IsNullOrWhiteSpace(product.UrlAnh) ? "/uploads/images/products/may-lanh-daikin-inverter-1.5hp1.jpg" : product.UrlAnh)" alt="Ảnh sản phẩm">
                            <div>
                                <h3>@product.TenSP</h3>
                                <p>(@product.SoLuongSP sản phẩm)</p>
                            </div>
                        </div>
                        <div class="cart-item-row-price">@product.ThanhTien?.ToString("N0", new CultureInfo("vi-VN"))</div>
                    </div>
                }
                <div class="cart-item-row align-right item-price no-border-top">
                    <p>Phí giao hàng:</p>
                    <p>@(Model.PhiVanChuyen > 0 ? Model.PhiVanChuyen?.ToString("N0", new CultureInfo("vi-VN")) : "Miễn phí")</p>
                </div>
                <div class="cart-item-row align-right item-price no-border-top">
                    <p>Tổng tiền:</p>
                    <p>@Model.TongTien?.ToString("N0", new CultureInfo("vi-VN"))</p>
                </div>
            </div>
            @if (User.Identity?.IsAuthenticated ?? false) {
                <div class="cart-item">
                    <h3>Địa chỉ nhận hàng</h3>
                    @await Component.InvokeAsync(name: "DeliveryAddress")
                </div>
            }
            <form method="post" asp-action="HandleCheckout">
                <div class="cart-item">
                    <h3>Phương thức thanh toán</h3>
                    @await Component.InvokeAsync("PaymentMethod")
                    <input type="hidden" name="MaDCCT" id="checkoutMaDCCT">
                    <input type="hidden" name="MaTTTT" value="1">
                </div>
                <button class="button full-width">Đặt hàng</button>
            </form>
        }



</div>

@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}

@if (!string.IsNullOrEmpty(error))
{
    <script>
         alert('@Html.Raw(error)');
    </script>
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}
