@using System.Security.Claims

@{
    var breadcrumb = ViewData["Breadcrumb"] as List<(string Text, string Url)>;
    var hideSidebar = (bool?)ViewData["HideSidebar"];

    var user = (ClaimsPrincipal)User;
    var TenKH = user.FindFirstValue(ClaimTypes.Name) ?? "";
    var roleStr = user.FindFirstValue(ClaimTypes.Role);
    int QuyenTK = int.TryParse(roleStr, out var r) ? r : -1;

    bool isAdminPage = Context.Request.Path.Value?.Contains("/Admin", StringComparison.OrdinalIgnoreCase) == true;
}
<header id="header">
    <nav class="header-nav">
        <div class="header-nav-top">
            <a asp-controller="Product" asp-action="Index"><img src="/images/brand.svg" alt="Brand" class="brand"></a>
            @if(!isAdminPage) {
                <form asp-controller="Product" asp-action="HandleSearch" class="header-nav-top-search">
                    <input type="text" class="input" name="tenSP" maxlength="100" placeholder="Tìm kiếm sản phẩm" required>
                    <button class="material-symbols-outlined button">search</button>
                </form>
            }
            <ul class="header-nav-top-list">
                @if(QuyenTK != 1) {
                    <li class="header-nav-top-list-item">
                        @await Component.InvokeAsync("CartNumberItem")
                    </li>
                }
                @if (!User.Identity?.IsAuthenticated ?? false) {
                    <li class="header-nav-top-list-item button">
                        <a asp-controller="Account" asp-action="Index" class="header-nav-top-list-link">
                            <span class="material-symbols-outlined">person_check</span>
                            Tài khoản
                        </a>
                    </li>
                } else {
                    @if(QuyenTK == 1) {
                        <li class="header-nav-top-list-item">
                            <a asp-controller="@(isAdminPage ? "Product" : "Admin")" asp-action="Index" class="header-nav-top-list-link">
                                <span class="material-symbols-outlined">@(isAdminPage ? "open_in_new" : "admin_panel_settings")</span>
                                @(isAdminPage ? "Xem trang" : "Quản trị")
                            </a>
                        </li>
                    }
                    <li class="header-nav-top-list-item user-name">
                        <a asp-controller="@(QuyenTK != 1 ? "Account" : "Admin")" asp-action="Personal" class="header-nav-top-list-link">
                            <span class="material-symbols-outlined">person_check</span>
                            @TenKH
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="header-nav-bottom">
            @if (hideSidebar != true) {
                <span class="material-symbols-outlined" id="button-toggle-sidebar">density_medium</span>
            }
            <div class="breadcrumb">
            @if (breadcrumb != null)
            {
                for (int i = 0; i < breadcrumb.Count; i++)
                {
                    if (i < breadcrumb.Count - 1)
                    {
                        <a href="@breadcrumb[i].Url">@breadcrumb[i].Text</a>
                        <span class="separator">&#187;</span>
                    }
                    else
                    {
                        <span class="current">@breadcrumb[i].Text</span>
                    }
                }
            }
            </div>
        </div>
    </nav>
</header>
