@using System.Security.Claims
@{
    var breadcrumb = ViewBag.Breadcrumb as List<(string Text, string Url)>;
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();

    var user = (ClaimsPrincipal)User;
    var TenHienThi = user.FindFirstValue(ClaimTypes.Name) ?? "";
    var roleStr = user.FindFirstValue(ClaimTypes.Role);
    int QuyenTK = int.TryParse(roleStr, out var r) ? r : -1;

    bool isAdminPage = Context.Request.Path.Value?.Contains("/Admin", StringComparison.OrdinalIgnoreCase) == true;
}

<div class="header">
    <div class="header_content">
        <div class="header_content_top">
            <a href="/" class="header_content_top_logo">
                <img src="~/images/logo.svg" alt="Logo VElectric">
            </a>
            @if(!isAdminPage) 
            {
                <form asp-controller="SanPham" asp-action="TimKiem" method="get" class="header_content_top_search">
                    <input type="text" name="tukhoa" placeholder="Tìm kiếm sản phẩm" required>
                    <button type="submit">
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            }
            <nav class="header_content_top_nav">
                @if(QuyenTK != 1) {
                    <a asp-action="Index" asp-controller="GioHang" class="header_content_top_nav_item">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        Giỏ hàng @await Component.InvokeAsync("SoSanPhamTrongGio")
                    </a>
                }
                @if (!User.Identity?.IsAuthenticated ?? false) {
                    <a asp-controller="TaiKhoan" asp-action="Index" class="header_content_top_nav_item primary">
                        <span class="material-symbols-outlined">account_circle</span>
                        Tài khoản
                    </a>
                } else {
                    @if(QuyenTK == 1) {
                        <a asp-controller="@(isAdminPage ? "SanPham" : "Admin")" asp-action="Index" class="header_content_top_nav_item">
                            <span class="material-symbols-outlined">@(isAdminPage ? "open_in_new" : "manage_accounts")</span>
                            @(isAdminPage ? "Xem trang" : "Quản trị")
                        </a>
                    }
                    <a asp-controller="@(QuyenTK == 1 ? "Admin" : "TaiKhoan")" asp-action="ThongTin" class="header_content_top_nav_item">
                        <span class="material-symbols-outlined">account_circle</span>
                        @TenHienThi
                    </a>
                }
            </nav>
        </div>
        <div class="header_content_bottom">
            <span class="material-symbols-outlined header_content_bottom_icon_hamburger">density_medium</span>
            <div class="header_content_bottom_breadcrumb">
            @if (breadcrumb != null)
            {
                for (int i = 0; i < breadcrumb.Count; i++)
                {
                    if (i < breadcrumb.Count - 1)
                    {
                        <a href="@breadcrumb[i].Url">@breadcrumb[i].Text</a>
                        <span>&#187;</span>
                    }
                    else
                    {
                        <span>@breadcrumb[i].Text</span>
                    }
                }
            }
            </div>
        </div>
    </div>
</div>