@model List<DiaChiDayDu>

@if (Model != null && Model.Any())
{
    <ul class="delivery-address-list" id="delivery-address-list">
        @for (int i = 0; i < Model.Count; i++)
        {
            var dcct = Model[i];
            var id = $"dcct_{dcct.MaDCCT}";
            <li>
                <label for="@id">
                    <input type="radio" id="@id" name="MaDCCT" value="@dcct.MaDCCT" @(dcct.MacDinhDCCT == 1 ? "checked" : "") />
                    <p>@dcct.TenDCCT, @dcct.TenXP, @dcct.TenTTP <span class="address-default">@(@dcct.MacDinhDCCT == 1 ? "(Mặc định)" : "")</span></p>
                </label>
                <div class="btn-edit-address"
                    data-madcct="@dcct.MaDCCT"
                    data-tendcct="@dcct.TenDCCT"
                    data-macdinhdcct="@dcct.MacDinhDCCT"
                    data-mattp="@dcct.MaTTP"
                    data-tenttp="@dcct.TenTTP"
                    data-maxp="@dcct.MaXP"
                    data-tenxp="@dcct.TenXP">
                    <span class="material-symbols-outlined">edit</span>
                    Sửa
                </div>
            </li>
        }
    </ul>
    <button class="button" id="button-add-address">
        <span class="material-symbols-outlined">add</span>
        Thêm địa chỉ nhận hàng
    </button>
        <div id="form-add-address">
            <h3 class="personal-card-heading">Thêm địa chỉ nhận hàng</h3>
            <form method="post" asp-action="HandleAddUpdateAddress" asp-controller="Cart">
                <input type="hidden" id="MaDCCT" name="MaDCCT" />
                <div class="cart-form-group">
                    <label for="provinceSelect">Tỉnh/Thành Phố</label>
                    <select class="select" id="provinceSelect" name="provinceSelect" required>
                        <option value="">-- Chọn Tỉnh/Thành phố --</option>
                    </select>
                </div>
                <div class="cart-form-group">
                    <label for="communeSelect">Xã/Phường</label>
                    <select class="select" id="communeSelect" name="communeSelect" required>
                        <option value="">-- Chọn Xã/Phường --</option>
                    </select>
                </div>
                <div class="cart-form-group">
                    <label for="TenDCCT">Số nhà, tên đường, ấp/khóm</label>
                    <input class="input" type="text" name="TenDCCT" id="TenDCCT" required placeholder="Nhập số nhà, tên đường, ấp/khóm">
                </div>
                @if (Model?.Count > 0) {
                    <div class="cart-form-group inline" id="check-macdinhdcct">
                        <input style="margin-right: 6px;" type="checkbox" name="MacDinhDCCT" id="MacDinhDCCT" value="1">
                        <label for="MacDinhDCCT">Đặt làm địa chỉ mặc định</label>
                    </div>
                } else {
                    <input type="hidden" name="MacDinhDCCT" id="MacDinhDCCT" checked value="1">
                    <div class="cart-form-group">
                        <p class="address-default">Mặc định</p>
                    </div>
                }
                <div class="cart-form-group" id="address-default-in-form" style="display: none;">
                    <p class="address-default">Mặc định</p>
                </div>
                <div class="align-right">
                    <div class="button button-cancel" id="button-cancel-add-address">Hủy</div>
                    <button class="button">Lưu</button>
                </div>
            </form>
        </div>
} else {
    <p>Hiện không có địa chỉ nhận hàng</p>
}
